.center {
  text-align: center;
}

.fixed {
  position: fixed;
  top: 70px;
  left: 20px;
}

.page {
  max-width: 800px;
  margin: auto;
}

.cursor {
  cursor: pointer;
}

.italic {
  font-style: italic;
}

p.hover-fade {
  color: grey;
}

p.hover-fade:hover {
  color: lightgray;
}

.opaque {
  opacity: 0.7;
}
